In [1]:
from faker import Faker
from tabulate import tabulate
import random
from datetime import datetime, timedelta
import pandas as pd

In [2]:
#read data
data_cities = pd.read_csv(r'C:\Users\Ria Rahmawati\Documents\Pacmann\city.csv', sep=',')
data_car_products = pd.read_csv(r'C:\Users\Ria Rahmawati\Documents\Pacmann\car_product.csv', sep=',')

In [3]:
data_car_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  50 non-null     int64
 1   brand       50 non-null     object
 2   model       50 non-null     object
 3   body_type   50 non-null     object
 4   year        50 non-null     int64
 5   price       50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [4]:
data_cities.columns = ['id_city', 'city_name', 'latitude', 'longitude']
data_car_products.columns = ['id_product', 'brand', 'model', 'body_type', 'vehicle_year', 'price']

In [5]:
data_car_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_product    50 non-null     int64
 1   brand         50 non-null     object
 2   model         50 non-null     object
 3   body_type     50 non-null     object
 4   vehicle_year  50 non-null     int64
 5   price         50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [6]:
data_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_city    15 non-null     int64
 1   city_name  15 non-null     object
 2   latitude   15 non-null     float64
 3   longitude  15 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 608.0+ bytes

In [7]:
# define tabel cities
tabel_cities = data_cities.to_dict()
total_city = data_cities.shape[0]

In [8]:
fake = Faker('id_ID')

table = {}
total = 30
table['id_user'] = [i+1 for i in range(total)]
names = [fake.name() for i in range(total)]
table['fullname'] = [i for i in names]
table['phone_number'] = [fake.phone_number() for i in range(total)]
table['email'] = [f"{name.lower().replace(' ', '')}@{fake.free_email_domain()}" \
                  for name in names]
created_at = [fake.date_time_between(start_date="-1y", end_date="now", tzinfo=None) for _ in range(total)]
table['created_at']=pd.Series(created_at)
table['id_city'] = [random.choice(tabel_cities['id_city']) for i in range(total)]

In [9]:
table = pd.DataFrame(table)
table.to_csv('users_2.csv', index=False)

In [10]:
# define tabel products
tabel_car_products = data_car_products.to_dict()
# calculate rows
total_car_products = data_car_products.shape[0]

In [11]:
print(total_car_products)

50

In [12]:
# print(tabel_car_products)

In [13]:
fake = Faker('id_ID')

# table = {}
total = 50

color = [fake.color_name() for i in range(total)]
tabel_car_products['color'] = [i for i in color] 
distance = [fake.random_number(digits=5) for i in range(total)]
tabel_car_products['distance']= [i for i in color]

tabel_car_products['color']=pd.Series(color)
tabel_car_products['distance']=pd.Series(distance)

In [14]:
print(tabel_car_products)

{'id_product': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 34, 34: 35, 35: 36, 36: 37, 37: 38, 38: 39, 39: 40, 40: 41, 41: 42, 42: 43, 43: 44, 44: 45, 45: 46, 46: 47, 47: 48, 48: 49, 49: 50}, 'brand': {0: 'Toyota', 1: 'Toyota', 2: 'Toyota', 3: 'Toyota', 4: 'Toyota', 5: 'Toyota', 6: 'Toyota', 7: 'Toyota', 8: 'Toyota', 9: 'Toyota', 10: 'Toyota', 11: 'Toyota', 12: 'Toyota', 13: 'Toyota', 14: 'Toyota', 15: 'Daihatsu', 16: 'Daihatsu', 17: 'Daihatsu', 18: 'Daihatsu', 19: 'Daihatsu', 20: 'Daihatsu', 21: 'Daihatsu', 22: 'Daihatsu', 23: 'Daihatsu', 24: 'Daihatsu', 25: 'Daihatsu', 26: 'Daihatsu', 27: 'Daihatsu', 28: 'Daihatsu', 29: 'Daihatsu', 30: 'Honda', 31: 'Honda', 32: 'Honda', 33: 'Honda', 34: 'Honda', 35: 'Honda', 36: 'Honda', 37: 'Honda', 38: 'Honda', 39: 'Honda', 40: 'Honda', 41: 'Honda', 42: 'Honda', 43: 'Honda', 44: 'Honda', 45: 'Suzuki', 46: 'Suzuki', 47: 'Suzuki', 48: 'Suzuki', 49: 'Suzuki'}, 'model': {0: 'Toyota Yaris', 1: 'Toyota Yaris', 2: 'Toyota Yaris', 3: 'Toyota Yaris', 4: 'Toyota Yaris', 5: 'Toyota Agya', 6: 'Toyota Agya', 7: 'Toyota Agya', 8: 'Toyota Agya', 9: 'Toyota Agya', 10: 'Toyota Calya', 11: 'Toyota Calya', 12: 'Toyota Calya', 13: 'Toyota Calya', 14: 'Toyota Calya', 15: 'Daihatsu Ayla', 16: 'Daihatsu Ayla', 17: 'Daihatsu Ayla', 18: 'Daihatsu Ayla', 19: 'Daihatsu Ayla', 20: 'Daihatsu Terios', 21: 'Daihatsu Terios', 22: 'Daihatsu Terios', 23: 'Daihatsu Terios', 24: 'Daihatsu Terios', 25: 'Daihatsu Xenia', 26: 'Daihatsu Xenia', 27: 'Daihatsu Xenia', 28: 'Daihatsu Xenia', 29: 'Daihatsu Xenia', 30: 'Honda Jazz', 31: 'Honda Jazz', 32: 'Honda Jazz', 33: 'Honda Jazz', 34: 'Honda Jazz', 35: 'Honda CR-V', 36: 'Honda CR-V', 37: 'Honda CR-V', 38: 'Honda CR-V', 39: 'Honda CR-V', 40: 'Honda Civic', 41: 'Honda Civic', 42: 'Honda Civic', 43: 'Honda Civic', 44: 'Honda Civic', 45: 'Suzuki Ertiga', 46: 'Suzuki Ertiga', 47: 'Suzuki Ertiga', 48: 'Suzuki Ertiga', 49: 'Suzuki Ertiga'}, 'body_type': {0: 'Hatchback', 1: 'Hatchback', 2: 'Hatchback', 3: 'Hatchback', 4: 'Hatchback', 5: 'Hatchback', 6: 'Hatchback', 7: 'Hatchback', 8: 'Hatchback', 9: 'Hatchback', 10: 'Wagon', 11: 'Wagon', 12: 'Wagon', 13: 'Wagon', 14: 'Wagon', 15: 'Hatchback', 16: 'Hatchback', 17: 'Hatchback', 18: 'Hatchback', 19: 'Hatchback', 20: 'SUV', 21: 'SUV', 22: 'SUV', 23: 'SUV', 24: 'SUV', 25: 'MPV', 26: 'MPV', 27: 'MPV', 28: 'MPV', 29: 'MPV', 30: 'Hatchback', 31: 'Hatchback', 32: 'Hatchback', 33: 'Hatchback', 34: 'Hatchback', 35: 'SUV', 36: 'SUV', 37: 'SUV', 38: 'SUV', 39: 'SUV', 40: 'Hatchback', 41: 'Sedan', 42: 'Sedan', 43: 'Sedan', 44: 'Hatchback', 45: 'MPV', 46: 'MPV', 47: 'MPV', 48: 'MPV', 49: 'MPV'}, 'vehicle_year': {0: 2016, 1: 2018, 2: 2014, 3: 2020, 4: 2012, 5: 2019, 6: 2014, 7: 2016, 8: 2022, 9: 2017, 10: 2019, 11: 2019, 12: 2017, 13: 2016, 14: 2016, 15: 2016, 16: 2019, 17: 2015, 18: 2017, 19: 2017, 20: 2018, 21: 2022, 22: 2019, 23: 2017, 24: 2018, 25: 2019, 26: 2022, 27: 2017, 28: 2014, 29: 2018, 30: 2018, 31: 2019, 32: 2018, 33: 2015, 34: 2013, 35: 2018, 36: 2017, 37: 2009, 38: 2016, 39: 2018, 40: 2018, 41: 2010, 42: 2013, 43: 2013, 44: 2019, 45: 2015, 46: 2018, 47: 2016, 48: 2012, 49: 2018}, 'price': {0: 175000000, 1: 215000000, 2: 162000000, 3: 220000000, 4: 124000000, 5: 114000000, 6: 97000000, 7: 110000000, 8: 155500000, 9: 115500000, 10: 130000000, 11: 137000000, 12: 115500000, 13: 104000000, 14: 107000000, 15: 83000000, 16: 120000000, 17: 96000000, 18: 115000000, 19: 113000000, 20: 190000000, 21: 223000000, 22: 189900000, 23: 166000000, 24: 201000000, 25: 170000000, 26: 220500000, 27: 135000000, 28: 100000000, 29: 159000000, 30: 236000000, 31: 250000000, 32: 216000000, 33: 192000000, 34: 178000000, 35: 415000000, 36: 345000000, 37: 116000000, 38: 269000000, 39: 398500000, 40: 350000000, 41: 165000000, 42: 186000000, 43: 179000000, 44: 397500000, 45: 125000000, 46: 178000000, 47: 168000000, 48: 100000000, 49: 167000000}, 'color': 0           Jingga
1       Coklat tua
2            Perak
3        Biru muda
4             Nila
5           Kuning
6           Jingga
7            Koral
8        Hijau tua
9        Hijau tua
10    Biru dongker
11      Merah bata
12           Putih
13           Putih
14           Koral
15            Ungu
16          Coklat
17          Coklat
18           Perak
19      Hijau muda
20            Nila
21           Hijau
22           Hijau
23          Coklat
24      Coklat tua
25          Coklat
26           Putih
27           Koral
28     Merah jambu
29       Biru muda
30           Putih
31           Perak
32            Biru
33            Biru
34     Merah jambu
35        Ungu tua
36          Zaitun
37            Nila
38    Biru dongker
39     Merah marun
40            Ungu
41           Hitam
42           Putih
43       Biru laut
44       Hijau tua
45           Hijau
46    Biru dongker
47         Magenta
48      Coklat tua
49           Hijau
dtype: object, 'distance': 0     31825
1     44918
2      1739
3     12902
4     35111
5     71834
6     68304
7     90691
8     25714
9     50153
10    43161
11    90928
12    90160
13    74974
14    84567
15    75183
16    76710
17    32687
18    78697
19    73742
20    17571
21    14566
22    18881
23    73655
24    46592
25    99505
26    39296
27    40444
28    32199
29    51020
30    24260
31    33201
32    53581
33    77087
34    86862
35     3180
36    65313
37    42199
38    45811
39    84737
40    90708
41    76909
42    14289
43    11271
44    73144
45    70010
46     8096
47    10490
48    73203
49    64977
dtype: int64}

In [ ]:
tabel_car_products = pd.DataFrame(tabel_car_products)
tabel_car_products.to_csv('products.csv', index=False)

In [26]:
fake = Faker('id_ID')
# ads
table_ads = {}
total = 50
table_ads['id_ads'] = [i+1 for i in range(total)]
table_ads['title'] = [fake.catch_phrase() for i in range(total)]
table_ads['detail_ads'] = [fake.paragraph(nb_sentences=3) for i in range(total)]
table_ads['availability'] = [fake.boolean() for i in range(total)]
created_at = [fake.date_time_between(start_date="-1y", end_date="now", tzinfo=None) for _ in range(total)]
table_ads['created_at']=pd.Series(created_at)
table_ads['price'] = [fake.random_int(min=1000000, max=100000000) for i in range(total)]
table_ads['bid_allowed'] = [fake.boolean() for i in range(total)]
# Fetching data from tabel_car_products
id_product_list = list(tabel_car_products['id_product'])
# price_list = list(tabel_car_products['price'])

# Generating random values for id_product and assigning corresponding price
random_ids = random.choices(id_product_list, k=total)
table_ads['id_product'] = random_ids
table_ads['id_user'] = [random.choice(table['id_user']) for i in range(total)]
# table_ads['price'] = [price_list[id_product_list.index(product_id)] for product_id in random_ids]

In [27]:
table_ads = pd.DataFrame(table_ads)
table_ads.to_csv('ads_2.csv', index=False)

In [17]:
fake = Faker('id_ID')
# bids
table_bids = {}
total = 70
table_bids['id_bid'] = [i+1 for i in range(total)]
created_at = [fake.date_time_between(start_date="-1y", end_date="now", tzinfo=None) for _ in range(total)]
table_bids['created_at']=pd.Series(created_at)
table_bids['bid_price'] = [fake.random_int(min=1000000, max=100000000) for i in range(total)]
table_bids['status'] = [fake.random_element(elements=('Accept', 'reject')) for i in range(total)]

table_bids['id_user'] = [random.choice(table['id_user']) for i in range(total)]
table_bids['id_ads'] = [random.choice(table_ads['id_ads']) for i in range(total)]

In [18]:
table_bids = pd.DataFrame(table_bids)
table_bids.to_csv('bids_2.csv', index=False)